name: Build

permissions:
  contents: read

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target: [UiOvpn23, SkeletonOvpn2, UiOvpn2]
    name: "Release ${{ matrix.target }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          submodules: recursive 

      - name: Set up Python
        uses: actions/setup-python@v5 
        with:
          python-version: '3.11'

      - name: Inject XOR Patch
        run: python inject_xor.py 

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle' 

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Configure Gradle and Debug Signing
        run: |
          mkdir -p ~/.gradle
          echo "icsopenvpnDebugSign=true" >> ~/.gradle/gradle.properties
          echo "org.gradle.jvmargs=-Xmx2048M" >> ~/.gradle/gradle.properties
          echo "org.gradle.parallel=true" >> ~/.gradle/gradle.properties

      - name: Build the app
        run: ./gradlew assemble${{ matrix.target }}Release

      - name: Archive apk artifact
        uses: actions/upload-artifact@v4 
        with:
          name: build-${{matrix.target}}-release-apk
          path: main/build/outputs/apk/**/*universal*.apk
          if-no-files-found: warn
